<app-search-input [isAdvancedSearch]="true"
                  [autocompleteList]="fullnames"
                  [(isActiveAdvancedSearch)]="isFilter"
                  (isActiveAdvancedSearchChange)="clickAdvancedSearch()" (onSearch)="search($event)"></app-search-input>
<mat-card  *ngIf="isFilter">
  <app-candidate-filter-toolbar
                                        [statusesList]="sourceStatuses"
                                        [(selectedStatuses)]="selectedStatuses"
                                        [(minSalary)]="minSalary"
                                        [(maxSalary)]="maxSalary"
                                        (selectedStatusesChange)="changeFilterObject()"
                                        (minSalaryChange)="changeFilterObject()"
                                        (maxSalaryChange)="changeFilterObject()"
                                        [salaryLow]="lowSalary"
                                        [salaryTop]="topSalary"
                                        [yearsRequiredLow]="lowYearRequired"
                                        [yearsRequiredTop]="topYearRequired"
                                        [(minYearsRequired)]="minYearRequired"
                                        [(maxYearsRequired)]="maxYearRequired"
                                        [(includeUndefinedBirthday)]="includeUndefinedBirthday"
                                        [(includeUndefinedSalary)]="includeUndefinedSalary"
                                        (minYearsRequiredChange)="changeFilterObject()"
                                        (maxYearsRequiredChange)="changeFilterObject()"
                                        (includeUndefinedBirthdayChange)="changeFilterObject()"
                                        (includeUndefinedSalaryChange)="changeFilterObject()"
                                        (validSalaryFilterChange)="validSalaryFilterChange($event)"
                                        (validYearsRequiredFilterChange)="validYearsRequiredFilterChange($event)"
  ></app-candidate-filter-toolbar>
  <app-sort-toolbar
    [sourceProperties]="sourceProperties"
    [sourceDirections]="sourceDirections"
    [(sortDirection)]="sortDirection"
    [(selectedProperty)]="sortedProperty"
    (selectedPropertyChange)="changeSortObject()"
    (sortDirectionChange)="changeSortObject()"
  ></app-sort-toolbar>
</mat-card>
<br>

<mat-card>
  <div class="row">
    <div class="col-5 padding-element">
      <div class="column">
        <label style="margin-left: 50px;"><span>{{'Selected number of candidates' | translate}}</span> ({{filteredCandidatesLength}}
          {{'of' | translate}} {{candidates?.length}})</label>
      </div>
      <!--<div class="column" *ngIf="filteredCandidatesLength">-->
        <!--<label style="margin-left: 50px;"><span>{{'Selected number of candidates' | translate}}</span> ({{filteredCandidatesLength}}-->
          <!--{{'of' | translate}} {{candidates?.length}} )</label>-->
      <!--</div>-->
   </div>
    <div class="col-3">
      <!--<div class="column">-->
        <!--<label style="margin-left: 50px;"><span>{{'Selected number of candidates' | translate}}</span> ({{filteredCandidatesLength}}-->
          <!--{{'of' | translate}} {{candidates?.length}} )</label>-->
      <!--</div>-->
    </div>
    <div class="col-4 item-center">
      <button (click)="addCandidate()" class="vacancy-add-buttons" mat-raised-button color="primary">{{'Add new candidate' | translate}}
      </button>
    </div>
  </div>
  <!--<div style="min-height: 600px;">-->
  <app-candidate-dashboard [search]="searchValue"
                           (addCandidate)="initPage()"
                           [isClosedIcon]="false"
                           [isDeleteIcon]="true"
                           [idPagination]="idPagination"
                           (deleteCandidateFromTheBase)="deleteCandidate($event)"
                           [haveAddButton]="true" [haveAddElement]="false"
                           [candidates]="candidates" [isPagination]="true"
                           [itemsPerPageValues]="itemsPerPageValues"
                           [size]="size"
                           [page]="page"
                           [isFilter]="isFilter"
                           [filterStatuses]="selectedStatuses"
                           [minSalary]="minSalary"
                           [maxSalary]="maxSalary"
                           [minYearsRequired]="minYearRequired"
                           [maxYearsRequired]="maxYearRequired"
                           [includeUndefinedBirthday]="includeUndefinedBirthday"
                           [includeUndefinedSalary]="includeUndefinedSalary"
                           [validSalaryFilter]="validSalaryFilter"
                           [validYearsRequiredFilter]="validYearsRequiredFilter"
                           [isSort]="isFilter"
                           [sortedDirection]="sortDirection"
                           [sortedProperty]="sortedProperty"
                           (changeFilteredLength)="changeFilteredLength($event)"
                           [vacancies]="vacancies"></app-candidate-dashboard>
  <!--</div>-->
  <br>
  <app-pagination-toolbar
    [itemsPerPageValues]="itemsPerPageValues"
    [placeholder]="'ItemPerPage'"
    [addButtonText]="'Add new candidate'"
    [(size)]="size"
    [(page)]="page"
    (sizeChange)="changePaginationObject()"
    (pageChange)="changePaginationObject()"
    [idPagination]="idPagination"
    (clickAddButton)="addCandidate()"
    [numberOfVacancies]="filteredCandidatesLength"
    [numberOfVacanciesTitle]="'Total number of candidates' | translate "
    [isButtonAdd]="false"
  >
  </app-pagination-toolbar>
</mat-card>

