<app-search-input [isAdvancedSearch]="true"
                  [autocompleteList]="positions"
                  (clickAdvancedSearch)="clickAdvancedSearch()" (onSearch)="search($event)"></app-search-input>
<mat-card  *ngIf="isFilter">
  <app-candidate-filter-toolbar
                                        [statusesList]="sourceStatuses"
                                        [(selectedStatuses)]="selectedStatuses"
                                        [(minSalary)]="minSalary"
                                        [(maxSalary)]="maxSalary"
                                        [salaryLow]="lowSalary"
                                        [salaryTop]="topSalary"
                                        [yearsRequiredLow]="lowYearRequired"
                                        [yearsRequiredTop]="topYearRequired"
                                        [(minYearsRequired)]="minYearRequired"
                                        [(maxYearsRequired)]="maxYearRequired"
                                        [(includeUndefinedBirthday)]="includeUndefinedBirthday"
  ></app-candidate-filter-toolbar>
  <app-sort-toolbar
    [sourceProperties]="sourceProperties"
    [sourceDirections]="sourceDirections"
    [(sortDirection)]="sortDirection"
    [(selectedProperty)]="sortedProperty"
  ></app-sort-toolbar>
</mat-card>
<br>
<mat-card>
  <app-pagination-toolbar
    [itemsPerPageValues]="itemsPerPageValues"
    [placeholder]="'ItemPerPage'"
    [addButtonText]="'Add new candidate'"
    [(size)]="size"
    [(page)]="page"
    [idPagination]="idPagination"
    (clickAddButton)="addCandidate()"
    [numberOfVacancies]="candidates?.length"
    [numberOfVacanciesTitle]="'Total number of candidates' | translate "
  >
  </app-pagination-toolbar>
  <app-candidate-dashboard [search]="searchValue"
                           (addCandidate)="getAll()"
                           [isClosedIcon]="false"
                           [isDeleteIcon]="true"
                           [idPagination]="idPagination"
                           (deleteCandidateFromTheBase)="deleteCandidate($event)"
                           [haveAddButton]="true" [haveAddElement]="false"
                           [candidates]="candidates" [isPagination]="true"
                           [itemsPerPageValues]="itemsPerPageValues"
                           [size]="size"
                           [page]="page"
                           [isFilter]="isFilter"
                           [filterStatuses]="selectedStatuses"
                           [minSalary]="minSalary"
                           [maxSalary]="maxSalary"
                           [minYearsRequired]="minYearRequired"
                           [maxYearsRequired]="maxYearRequired"
                           [includeUndefinedBirthday]="includeUndefinedBirthday"
                           [isSort]="isFilter"
                           [sortedDirection]="sortDirection"
                           [sortedProperty]="sortedProperty"
                           [vacancies]="vacancies"></app-candidate-dashboard>
</mat-card>

