<app-modal-component>
  <dialog-title>
    <span *ngIf="data.isEdit">
      {{'Edit feedback' | translate}}
    </span>
    <span *ngIf="!data.isEdit">
      {{'Add feedback' | translate}}
    </span>
    <button (click)="onNoClick()" class="float-right" mat-icon-button>
      <mat-icon [matTooltip]="'To close' | translate">close</mat-icon>
    </button>
  </dialog-title>
  <dialog-body>
    <form [formGroup]="formNote">
      <!--<mat-form-field class="example-full-width">-->
        <!--<mat-select required formControlName="state" placeholder="{{'Feedback State' | translate}}" [(ngModel)]="editedFeedback.feedbackState.name" matInput>-->
          <!--<mat-option *ngFor="let state of testFeedbackStates" [value]="state" >{{state | translate}}</mat-option>-->
        <!--</mat-select>-->
      <!--</mat-form-field>-->
      <mat-form-field class="example-full-width">
        <textarea formControlName="text" required [(ngModel)]="editedFeedback.feedbackText" matInput placeholder="{{'Feedback comment' | translate}}"></textarea>
      </mat-form-field>
    </form>
    <!--<mat-form-field class="example-full-width">-->
      <!--<input required [(ngModel)]="editedFeedback.feedbackState.name" matInput placeholder="feedback state">-->
    <!--</mat-form-field>-->
    <!--<mat-form-field>-->
      <!--<input matInput [(ngModel)]="editedExperience.dateFrom" [matDatepicker]="picker" placeholder="From">-->
      <!--<mat-datepicker-toggle name="dateSuffix" matSuffix [for]="picker"></mat-datepicker-toggle>-->
      <!--<mat-datepicker  #picker></mat-datepicker>-->
    <!--</mat-form-field>-->
    <!--&nbsp;-->
    <!--&nbsp;-->
    <!--<mat-form-field >-->
      <!--<input matInput  [(ngModel)]="editedExperience.dateTo" [min]="editedExperience.dateFrom" [matDatepicker]="picker1" placeholder="To">-->
      <!--<mat-datepicker-toggle name="dateSuffix1" matSuffix [for]="picker1"></mat-datepicker-toggle>-->
      <!--<mat-datepicker #picker1></mat-datepicker>-->
    <!--</mat-form-field>-->
    <!--<mat-form-field class="example-full-width">-->
    <!--<textarea matInput placeholder="Comment" [(ngModel)]="editedExperience."></textarea>-->
    <!--</mat-form-field>-->
  </dialog-body>
  <dialog-footer class="example-full-width">
    <span class="float-right">
    <button mat-button (click)="onNoClick()">{{'No Thanks' | translate}}</button>
    <button mat-raised-button color="primary" [disabled]="formNote.invalid" (click)="editCandidate()" cdkFocusInitial>{{'Ok' | translate}}</button>
    </span>
  </dialog-footer>
</app-modal-component>
