<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="month">
  <i class = "fa fa-chevron-left" (click)="prevMonth()"></i>
  <h2 > {{ date.format('MMMM') + " " + date.format('YYYY')}} </h2>
  <i class = "fa fa-chevron-right" (click)="nextMonth()"></i>
</div>
<div class='flex-container flex-center'>
  <div id='calendar-container' class='flex-container flex-column'>
    <div class="flex-container flex-wrap" >
      <div class="calendar-day flex-container" *ngFor="let d of daysArray">
        <h5>{{d.day}}</h5>
        <p *ngFor="let inter of d.interviews">{{inter}}</p>
      </div>
    </div>
  </div>
</div>


