<div class="candidate-list">
  <div class="row">
    <div class="col-6 col-md-2">
    </div>
    <div class="col-6 col-md-10">
        <h2 class="headline">Experience</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-6 col-md-2 center-right-item">
      <div>
        <input type="image" src="assets/candidate/adding-icon.png" class="myButton" />
      </div>
    </div>
    <div class="col-6 col-md-10">
      <mat-card>
        <ul>
          <li *ngFor="let exp of candidate.experiences ; let i = index">
            <button class="btn action-button" ng-click="myFunction()"><i class="fa fa-trash"></i></button>
            <button class="btn action-button"><i class="fa fa-edit"></i></button>
            {{exp.dateFrom}} - {{exp.dateTo}} {{candidate.skills[i].name}}
          </li>
        </ul>
      </mat-card>
    </div>
  </div>
</div>