<app-modal-component>
  <dialog-title>
    <span *ngIf="data.isEdit">
      {{'Edit Candidate' | translate}}
    </span>
    <span *ngIf="!data.isEdit">
      {{'Add Candidate' | translate}}
    </span>
    <button (click)="onNoClick()" class="float-right" mat-icon-button>
      <mat-icon [matTooltip]="'To close' | translate">close</mat-icon>
    </button>
  </dialog-title>
  <dialog-body>
    <div *ngIf="editedCandidate && candidateForm">
      <form [formGroup]="candidateForm">
        <mat-form-field class="example-full-width">
          <input class="star-input" required formControlName="name" [(ngModel)]="editedCandidate.name"  matInput placeholder="{{'Name' | translate}}">
          <mat-error *ngIf="candidateForm.controls['name'].hasError('required')">
            {{'Name is required' | translate}}
          </mat-error>
          <mat-error *ngIf="candidateForm.controls['name'].hasError('pattern')">
            {{'Name must contain only latin characters or only cyrillic characters' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input class="star-input" required formControlName="surname" [(ngModel)]="editedCandidate.surname" matInput placeholder="{{'Surname' | translate}}" >
          <mat-error *ngIf="candidateForm.controls['surname'].hasError('required')">
            {{'Surname is required' | translate}}
          </mat-error>
          <mat-error *ngIf="candidateForm.controls['surname'].hasError('pattern')">
            {{'Surname must contain only latin characters or only cyrillic characters' | translate}}
          </mat-error>
        </mat-form-field>
        <!--<mat-form-field class="example-full-width">-->
          <app-autocomplete-input  [placeholder]="'Position'" [searchProperty]="'name'" [visibleUnderline]="true" [fullWidth]="true" [positions]="positions" [(ngModel)]="editedCandidate.position.name" formControlName="position"></app-autocomplete-input>
          <!--<input class="star-input" formControlName="position" [(ngModel)]="editedCandidate.position.name" matInput placeholder="{{'Position' | translate}}" >-->
        <!--</mat-form-field>-->
        <mat-form-field class="example-full-width">
          <input class="star-input" only-numbers formControlName="salaryInDollars" [(ngModel)]="editedCandidate.salaryInDollars" matInput placeholder="{{'Required salary' | translate}}" >
        </mat-form-field>
        <!--<mat-form-field class="example-full-width">-->
          <!--<input class="star-input" only-numbers formControlName="birthday" [(ngModel)]="editedCandidate.birthday" matInput placeholder="{{'Required salary' | translate}}" >-->
        <!--</mat-form-field>-->
        <mat-form-field class="example-full-width custom-form-field-candidate">
          <input matInput readonly formControlName="birthday" [min]="minBirthdayDate" [max]="maxBirthdayDate"  [(ngModel)]="editedCandidate.birthday" [matDatepicker]="picker" placeholder="{{'Birthday' | translate}}" (click)="picker.open()">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="multi-year"></mat-datepicker>
        </mat-form-field>
        <!--<app-positions-select formControlName="position" [(ngModel)]="editedCandidate.position" [vacancies]="data.sourceVacancies" [visibleUnderline]="false"></app-positions-select>-->
        <mat-form-field class="example-full-width">
          <mat-select required formControlName="status" [placeholder]="'Status' | translate" [(ngModel)]="editedCandidate.candidateState.name">
            <mat-option *ngFor="let state of setStates" [value]="state" >{{state | translate}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input formControlName="skype" [(ngModel)]="editedCandidate.contacts[0].contactDetails" matInput placeholder="{{'SKYPE' | translate}}">
        </mat-form-field>
        <!--<international-phone-number [(ngModel)]="model.phone_number" placeholder="Enter phone number" [maxlength]="20" [defaultCountry]="'be'" [required]="true" #phone_number="ngModel" name="phone_number"></international-phone-number>-->
        <mat-form-field  class="example-full-width">
          <input [textMask]="{mask: mask}" formControlName="phone" [(ngModel)]="editedCandidate.contacts[1].contactDetails" matInput placeholder="{{'PHONE' | translate}}">
          <mat-error *ngIf="candidateForm.controls['phone'].hasError('pattern')">
            {{'Please enter a valid phone number with valida operator code like 17, 29, 33, 44' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input formControlName="email" [(ngModel)]="editedCandidate.contacts[2].contactDetails" matInput placeholder="{{'EMAIL' | translate}}">
          <mat-error *ngIf="candidateForm.controls['email'].hasError('pattern')">
            {{'Please enter a valid email address' | translate}}
          </mat-error>
        </mat-form-field>
      </form>
    </div>
  </dialog-body>
  <dialog-footer class="example-full-width">
    <span class="float-right">
      <button mat-button (click)="onNoClick()">{{'No Thanks' | translate}}</button>
      <button [disabled]="candidateForm?.invalid" mat-button mat-raised-button color="primary" (click)="editCandidate()" cdkFocusInitial>{{'Create' | translate}}</button>
    </span>
  </dialog-footer>
</app-modal-component>
