<app-modal-component>
  <dialog-title>
    <div class="center-text">{{data.day}}</div>
  </dialog-title>
  <dialog-body>
    <mat-card>
      <div>
        <span class="font-weight-bold">{{dateTimeWorker.getTime(data.interview.planDate)}}: {{data.interview.vacancy.position}}</span>
      </div>
      <div class="row">
        <div class="col-6">
          <span class="font-weight-bold">Interviewers:</span>
        </div>
        <div class="col-6">
          <ul class="interviewer-list">
            <li>Mark
              <mat-icon class="float-right">cancel</mat-icon>
            </li>
          </ul>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="interviewer" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2"><mat-icon>check</mat-icon></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <span class="font-weight-bold">Candidate:</span>
        </div>
        <div class="col-6">
          <a [routerLink]="'/candidate/' + data.interview.candidateId">{{userWorker.formatFullName(data.interview.candidate)}}</a>
        </div>
      </div>
    </mat-card>
  </dialog-body>
  <dialog-footer>
  </dialog-footer>
</app-modal-component>
