<app-search-input [isAdvancedSearch]="true" [autocompleteList]="positions"
                  (onSearch)="search($event)"
                  (clickAdvancedSearch)="clickAdvancedSearch()"
></app-search-input>
<mat-card  *ngIf="isFilter">
  <app-job-description-filter-toolbar
                                      [statusesList]="toppingList"
                                      [(minSalary)]="minSalary"
                                      [(maxSalary)]="maxSalary"
                                      [salaryLow]="lowSalary"
                                      [salaryTop]="topSalary"
                                      [yearsRequiredLow]="lowYearRequired"
                                      [yearsRequiredTop]="topYearRequired"
                                      [(minYearsRequired)]="minYearRequired"
                                      [(maxYearsRequired)]="maxYearRequired"
                                      [(selectedStatuses)]="selectedList" (selectedStatusesChanged)="changeStatusFilter()"></app-job-description-filter-toolbar>
  <app-sort-toolbar
    [sourceProperties]="sourceProperties"
    [sourceDirections]="sourceDirections"
    [(sortDirection)]="sortDirection"
    [(selectedProperty)]="sortedProperty"
  ></app-sort-toolbar>
</mat-card>
<br>
<mat-card>
  <app-pagination-toolbar
    [itemsPerPageValues]="itemsPerPageValues"
    [placeholder]="'VacancyPerPage'"
    [addButtonText]="'Add new vacancy'"
    [numberOfVacancies]="jobDescriptionList?.length"
    [numberOfVacanciesTitle]="'Total number of vacancies' | translate "
    [(size)]="size"
    [(page)]="page"
    [idPagination]="idPagination"
    (clickAddButton)="openJobDescriptionDialog()"
  >
  </app-pagination-toolbar>

  <app-job-description-dashboard [isPagination]="true" [isFilter]="isFilter"
                                 [filterStatuses]="selectedList" [itemsPerPageValues]="itemsPerPageValues" [search]="searchValue"
                                 [minSalary]="minSalary"
                                 [maxSalary]="maxSalary"
                                 [minYearsRequired]="minYearRequired"
                                 [maxYearsRequired]="maxYearRequired"
                                 [idPagination]="idPagination"
                                 [jobDescriptionList]="jobDescriptionList"
                                 [itemsPerPage]="size"
                                 [p]="page"
                                 [isSort]="isFilter"
                                 [sortedDirection]="sortDirection"
                                 [sortedProperty]="sortedProperty"
                                 (addVacancy)="getVacancies()" (deleteVacancy)="deleteVacancy($event)"></app-job-description-dashboard>

</mat-card>
