<app-search-input [isAdvancedSearch]="true" (onSearch)="search($event)"></app-search-input>
<app-job-description-filter-toolbar [statusesList]="toppingList"
                                    [(selectedStatuses)]="selectedList" (selectedStatusesChanged)="changeStatusFilter()"></app-job-description-filter-toolbar>
<br>
<app-job-description-dashboard [isPagination]="true" [itemsPerPageValues]="itemsPerPageValues" [search]="searchValue" [jobDescriptionList]="jobDescriptionList" (addVacancy)="getVacancies()" (deleteVacancy)="deleteVacancy($event)"></app-job-description-dashboard>

