<!--<div class="center-item">-->
  <mat-card class="custom-resize-card">
    <!--<div class=""-->
    <mat-card-title>{{'Interview' | translate}} {{'short info' | translate}}
      <button *ngIf="buttonEdit" class="float-right" mat-icon-button [matMenuTriggerFor]="menu" color="primary">
        <mat-icon>more_horiz</mat-icon>
      </button></mat-card-title>
    <!--<mat-form-field class="example-full-width">-->
      <!--<input  matInput placeholder="Where">-->
    <!--</mat-form-field>-->
    <div class="row">
      <div class="col-3">
        <span class="font-weight-bold float-right">{{ 'When' | translate}}:</span>
      </div>
      <div class="col-9">
        <span>{{interview.planDate | localDate:'medium'}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <span class="font-weight-bold float-right">{{ 'Candidate' | translate}}:</span>
      </div>
      <div class="col-9">
        <span>{{userWorker.formatFullName(interview.candidate)}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <span class="font-weight-bold float-right">{{ 'Vacancy' | translate}}:</span>
      </div>
      <div class="col-9">
        <span>{{interview.vacancy.position}}</span>
      </div>
    </div>

    <!--<mat-form-field class="example-full-width">-->
      <!--<input matInput [value]="interview.planDate" [matDatepicker]="picker" placeholder="When">-->
      <!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
      <!--<mat-datepicker #picker></mat-datepicker>-->
    <!--</mat-form-field>-->
  </mat-card>
<mat-menu #menu="matMenu">
  <button (click)="clickEdit()" mat-menu-item>{{'Edit' | translate}}</button>
</mat-menu>
<!--</div>-->
