<!--<div class="center-item">-->
  <mat-card class="custom-resize-card">
    <!--<div class=""-->
    <mat-card-title>{{'Interview' | translate}}
      <!--{{'short info' | translate}}-->
      <button *ngIf="buttonEdit" class="float-right" mat-icon-button [matMenuTriggerFor]="menu" color="primary">
        <mat-icon>more_horiz</mat-icon>
      </button></mat-card-title>
    <!--<mat-form-field class="example-full-width">-->
      <!--<input  matInput placeholder="Where">-->
    <!--</mat-form-field>-->
    <mat-divider></mat-divider>
    <br>
    <div class="row">
      <div class="col-3">
        <span class="font-weight-bold float-right">{{ 'When' | translate}}:</span>
      </div>
      <div class="col-9">
        <span>{{viewOfDate}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <span class="font-weight-bold float-right">{{ 'Candidate' | translate}}:</span>
      </div>
      <div class="col-9">
        <a [routerLink]="'/candidate/'+interview.candidate.id">{{userWorker.formatFullName(interview.candidate)}}</a>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <span class="font-weight-bold float-right">{{ 'Vacancy' | translate}}:</span>
      </div>
      <div class="col-9">
        <a [routerLink]="'/job-description/'+interview.vacancy.id">{{interview.vacancy.position.name}}</a>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <span class="font-weight-bold float-right">{{ 'Interviewers' | translate}}:</span>
      </div>
      <div class="col-9">
        <a *ngFor="let interviewer of interview.interviewers; let i = index">
          <img class="select-img"  [src]="candidateWorker.generatePhotoUrl(interviewer.attachment)"
               onerror="this.src = '/assets/candidate/middle-man-interviewer.png'">
          <span> {{userWorker.formatFullName(interviewer)}}</span>
          <span *ngIf="interview.interviewers.length - 1 != i ">, </span>
        </a>
      </div>
    </div>

    <!--<mat-form-field class="example-full-width">-->
      <!--<input matInput [value]="interview.planDate" [matDatepicker]="picker" placeholder="When">-->
      <!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
      <!--<mat-datepicker #picker></mat-datepicker>-->
    <!--</mat-form-field>-->
  </mat-card>
<mat-menu #menu="matMenu">
  <button (click)="clickEdit()" mat-menu-item>{{'Edit' | translate}}</button>
  <button (click)="clickDelete()" mat-menu-item>{{'Delete' | translate}}</button>
</mat-menu>
<!--</div>-->
