<app-modal-component>
  <dialog-title>
    <span *ngIf="data.isEdit">
      {{'Edit Experience' | translate}}
    </span>
    <span *ngIf="!data.isEdit">
      {{'Add Experience' | translate}}
    </span>
    <button (click)="onNoClick()" class="float-right" mat-icon-button>
      <mat-icon [matTooltip]="'To close' | translate">close</mat-icon>
    </button>
  </dialog-title>
  <dialog-body>
    <form [formGroup]="formExperience">
      <mat-form-field class="example-full-width">
        <input required formControlName="companyName" [(ngModel)]="editedExperience.companyName.name" matInput placeholder="{{'company Name' | translate}}">
      </mat-form-field>
      <mat-form-field>
        <input required formControlName="dateFrom" matInput [(ngModel)]="editedExperience.dateFrom" [matDatepicker]="picker" placeholder="{{'Start Experience' | translate}}">
        <mat-datepicker-toggle name="dateSuffix" matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker  #picker></mat-datepicker>
      </mat-form-field>
      &nbsp;
      &nbsp;
      <!--<br>-->
      <mat-form-field >
        <input required matInput formControlName="dateTo"  [(ngModel)]="editedExperience.dateTo" [min]="editedExperience.dateFrom" [matDatepicker]="picker1" placeholder="{{'End Experience' | translate}}">
        <mat-datepicker-toggle name="dateSuffix1" matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input required [matAutocomplete]="auto" formControlName="position" [(ngModel)]="editedExperience.jobPosition.name" (ngModelChange)="changePosition()" matInput placeholder="{{'Position' | translate}}">

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let position of selectedPositions" [value]="position.name">
            <span>{{position.name}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <!--<mat-form-field class="example-full-width">-->
      <!--<textarea matInput placeholder="Comment" [(ngModel)]="editedExperience."></textarea>-->
    <!--</mat-form-field>-->
  </dialog-body>
  <dialog-footer class="example-full-width">
    <span class="float-right">
      <button mat-button (click)="onNoClick()">{{'No Thanks' | translate}}</button>
      <button mat-raised-button color="primary" [disabled]="formExperience.invalid" (click)="editCandidate()" cdkFocusInitial>{{'Ok' | translate}}</button>
    </span>
  </dialog-footer>
</app-modal-component>
