<div *ngIf="selectedCandidates" class="row">
  <div
    *ngFor="let candidate of selectedCandidates | paginate: { itemsPerPage: itemsPerPage, currentPage: p } | slice:0:limitTo ? limitTo : selectedCandidates.length; let i = index"
    [ngClass]=" filledCells ? 'col-md-' + filledCells : 'col-md-3'" class="col-12 center-item heightitem">
    <app-candidate-dashboard-item [clickableCandidate]="true" [haveHoverEffect]="haveHoverEffect"
                                  [isDeleteIcon]="isDeleteIcon" [isClosedIcon]="isClosedIcon" (deleteCandidate)="deleteCandidate(candidate)" (deleteCandidateFromTheBase)="deleteCandidateFromTheBase(candidate)"

                                  [candidate]="candidate"></app-candidate-dashboard-item>
  </div>
  <div *ngIf="haveAddElement" [ngClass]=" filledCells ? 'col-md-' + filledCells : 'col-md-3'"
       class="col-12 center-item">
    <mat-card class="candidate-dashboard-item add-item" (click)="addCandidate()">
      <mat-icon>add</mat-icon>
    </mat-card>
  </div>

</div>
<pagination-controls *ngIf="isPagination" class="custom-pagination" autoHide="true" responsive="true" (pageChange)="p = $event"></pagination-controls>
