.clickable-icon {
  &:hover {
    cursor: pointer;

  }
}
div.requirements{
  //display:inline;
  margin-bottom:10px;
}
ul {
  list-style-type: none;
 // display:inline;
  float:left;
}
p.requirement-name {
  float:left;
  display: inline;
}
