
<!--<mat-card class="job-description-requirements">-->
  <!--<div class="row">-->
    <!--<div class="col-6">-->
      <!--Public-->
    <!--</div>-->
    <!--<div class="col-6">-->
      <!--Private-->
    <!--</div>-->
  <!--</div>-->
  <!--<mat-divider></mat-divider>-->
  <!--<div class="row">-->
    <!--<div class="col-6 flex-to-bottom-parent">-->
      <!--<ul>-->
        <!--<li *ngFor="let skill of vacancy.skills">-->
          <!--<span>{{skill.name}}</span>-->
          <!--<i class="material-icons float-right">cancel</i>-->
        <!--</li>-->
      <!--</ul>-->
      <!--<div class="input-group mb-3 flex-to-bottom-child">-->
        <!--<div class="input-group-prepend">-->
          <!--<span class="input-group-text" id="basic-addon1">+</span>-->
        <!--</div>-->
        <!--<input type="text" class="form-control" placeholder="Skill" aria-label="Username" aria-describedby="basic-addon1">-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-6 flex-to-bottom-parent">-->
      <!--<div class="input-group mb-3 flex-to-bottom-child">-->
        <!--<div class="input-group-prepend">-->
          <!--<span class="input-group-text" id="basic-addon2">+</span>-->
        <!--</div>-->
        <!--<input type="text" class="form-control" placeholder="Skill" aria-label="Username" aria-describedby="basic-addon1">-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</mat-card>-->
<mat-card>
  <mat-card-title>Requirements <button *ngIf="isMoreIcon" class="float-right" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_horiz</mat-icon>
  </button></mat-card-title>
  <ul>
    <li *ngFor="let requirement of vacancy.requirements">
      {{requirement.name}}
    </li>
  </ul>
</mat-card>
<mat-menu  #menu="matMenu">
  <button (click)="click" mat-menu-item>Edit</button>
</mat-menu>
