.candidate-dashboard-item {
  height: 300px;
  width: 250px;
}
.candidate-one-row {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.numberofvacancies {
  margin-left: 50px;
}
