<mat-card class="candidate-dashboard-item" (click)="goToCandidatePage()">
  <!--<mat-card-header>-->
    <!--&lt;!&ndash;<div mat-card-avatar class="example-header-image"></div>&ndash;&gt;-->
    <!--<mat-card-title class="font-weight-bold">Name: {{userWorker.formatFullName(candidate)}}</mat-card-title>-->
    <!--&lt;!&ndash;<mat-card-subtitle>Dog Breed</mat-card-subtitle>&ndash;&gt;-->
  <!--</mat-card-header>-->
  <!--<div class="row">-->
    <!--<div class="col-6">-->
      <app-candidate-avatar [haveHoverEffect]="true" [isClosedIcon]="true" [isMoreIcon]="true" (deleteCandidate)="deleteCandidate()" [candidate]="candidate"></app-candidate-avatar>
    <!--</div>-->
    <!--<div class="col-6">-->
  <div class="user-name">
  <div>
  <span class="font-weight-bold">Full name:</span>
  &nbsp;
  <span>{{userWorker.formatFullName(candidate)}}</span>
  </div>
  <div *ngFor="let contact of candidate.contacts">
  <span class="font-weight-bold">{{contact.contactType}}:</span>
  &nbsp;
  <span>{{contact.contactDetails}}</span>
  </div>
  </div>
    <!--</div>-->
  <!--</div>-->
  <!--<br>-->
  <!--<span></span>-->
  <!--<mat-card-content>-->

  <!--</mat-card-content>-->
</mat-card>
