<div *ngIf="interview">
  <app-interview-short-info [interview]="interview" [buttonEdit]="true" (clickEdit)="clickEdit($event)"></app-interview-short-info>
  <br>
  <app-interview-feedback [interview]="interview"></app-interview-feedback>
  <br>
  <!--<div class="row">-->
    <!--<div class="col-3">-->
  <!--<app-interview-candidate  ></app-interview-candidate>-->
  <br>
  <app-candidate-interview-expansion-panel [haveHoverEffectOnAvatar]="true" [isEditIconOnAvatar]="true" [src]="photoUrl" [candidate]="interview.candidate"></app-candidate-interview-expansion-panel>

  <app-vacancy-interview-expansion-panel [vacancy]="interview.vacancy"></app-vacancy-interview-expansion-panel>
    <!--</div>-->
    <!--<div class="col-3">-->
    <!--</div>-->
  <!--</div>-->
  <!--<br>-->
</div>
