<!--<div class="center-item">-->
  <mat-card class="custom-resize-card" *ngIf="feedback">
    <mat-card-title><span *ngIf="!isEdit">{{'Add' |translate }}</span> {{'Feedback' | translate}}

      <button *ngIf="isEdit && buttonEdit" class="float-right" mat-icon-button [matMenuTriggerFor]="menu" color="primary">
        <mat-icon>more_horiz</mat-icon>
      </button>
    </mat-card-title>
    <mat-form-field [ngClass]="{'custom-form-field': isEdit}" *ngFor="let feedbackDetails of feedback.feedbackDetails" class="example-full-width">
      <textarea (blur)="onFocusAnyInput()" [required]="feedbackDetails.requirement.required" matInput [(ngModel)]="feedbackDetails.feedbackText" [placeholder]="feedbackDetails.requirement.name"></textarea>
      <button *ngIf="isEdit" mat-button  matSuffix mat-icon-button aria-label="Clear" class="edited-hover-button">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-form-field>
    <button *ngIf="!isEdit" (click)="saveFeedback()" mat-raised-button color="primary">
      {{'Create' | translate}}
    </button>
  </mat-card>
<mat-menu #menu="matMenu">
  <button [disabled]="!isEdit" (click)="clickDelete()" mat-menu-item>{{'Delete' | translate}}</button>
</mat-menu>
<!--</div>-->
