<div *ngIf="vacancy">
  <span class="big-text">{{vacancy?.position}}</span>
  <mat-divider></mat-divider>
  <!--<br>-->
  <div class="description-vacancy">
    <div *ngIf="vacancy.experienceYearsRequire">
      <span class="title-text">experience: </span>
      <span>{{vacancy.experienceYearsRequire}} years</span>
    </div>
    <div *ngIf="vacancy.salaryInDollarsTo || vacancy.salaryInDollarsFrom">
      <span class="title-text">salary: </span>
      <span *ngIf="vacancy.salaryInDollarsFrom">{{vacancy.salaryInDollarsFrom}}</span>
      <span *ngIf="vacancy.salaryInDollarsFrom && vacancy.salaryInDollarsTo"> - </span>
      <span *ngIf="vacancy.salaryInDollarsTo">{{vacancy.salaryInDollarsTo}}</span>
      <span> $</span>
    </div>
    <div *ngIf="vacancy.vacancyState">
      <span class="title-text">state: </span>
      <span>{{vacancy.vacancyState}}</span>
    </div>
  </div>
</div>
