<div class="row">
  <div class="col-12 col-md-2">
    <mat-icon>description</mat-icon>
  </div>
  <div class="col-12 col-md-2">
    <p>
      By <span> {{notes?.interviewer}} </span>
    </p>
    <p>Date: <span>{{notes?.date}}</span>
    </p>
  </div>
  <div class="col-12 col-md-6">
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Comment" class="txtArea" readonly> {{notes?.noteText}}</textarea>
    </mat-form-field>
  </div>
  <div class="col-12 col-md-2">
    <mat-icon class="edit-icon">create</mat-icon>
    <mat-icon class="edit-icon">delete</mat-icon>
  </div>
</div>
