<div>

  <mat-accordion class="example-headers-align">
    <mat-expansion-panel class="vacancyPannel">
      <mat-expansion-panel-header>

        <mat-panel-title>
          <mat-icon class="fiber-icon-image vacancy-status"
                    matTooltip="{{'Status' | translate}}: {{vacancy.vacancyState | translate}}"
                    [ngClass]="{
                    'success-fiber': vacancyColorService.isVacancyOpened(vacancy.vacancyState),
                  'fail-fiber': vacancyColorService.isVacancyClosed(vacancy.vacancyState)}">fiber_manual_record
          </mat-icon>
          {{vacancy.position.name }}

        </mat-panel-title>

        <mat-panel-description>
            <span
              class="description"> {{'Total number of candidates' | translate}}: {{vacancy.candidates.length}}</span>
          <span><button *ngIf="showInfoAndDeleteIcons"  mat-icon-button (click)="goToJobDescriptionPage(vacancy); $event.stopPropagation() "
          ><mat-icon [matTooltip]="'Vacancy info' | translate">info</mat-icon></button>

          <button *ngIf="showInfoAndDeleteIcons"  mat-icon-button (click)="openDeleteVacancyDialog(vacancyID); $event.stopPropagation()"><mat-icon
            [matTooltip]="'Delete this vacancy' | translate">delete</mat-icon></button></span>
        </mat-panel-description>

        <!--<button class="vacancyEditButton" mat-raised-button (click)="goToJobDescriptionPage(vacancy)">{{'Info' | translate}}</button>-->
        <!--<button mat-icon-button class="vacancyDeleteButton" (click)="openDeleteVacancyDialog(vacancyID)"><mat-icon>close</mat-icon></button>-->

      </mat-expansion-panel-header>

      <app-candidate-dashboard [isPagination]="false" [isDeleteIcon]="false" [isClosedIcon]="false"
                               [filledCells]="4"
                               [candidates]="vacancy.candidates" [limitTo]="3"></app-candidate-dashboard>
    </mat-expansion-panel>
  </mat-accordion>


</div>
