<app-modal-component class="select-modal">


  <dialog-title class="example-full-width">
    <span *ngIf="noCandidateToAdd">
      {{'You have already added all candidates' | translate}}
    </span>
    <span *ngIf="!noCandidateToAdd">
      {{'Select candidate' | translate}}({{numberOfAvailableCandidates}})
    </span>
    <button (click)="onNoClick()" class="float-right" mat-icon-button>
      <mat-icon [matTooltip]="'To close' | translate">close</mat-icon>
    </button>


    <!--<span class="float-right">-->
    <!--<button mat-icon-button (click)="close()"><mat-icon>close</mat-icon></button>-->
    <!--</span>-->
  </dialog-title>
  <dialog-body>

    <div #candidateView *ngFor="let candidate of candidates; let i = index">
      <!--<div *ngIf="isThisCandidateAlreadyHere(candidate)" (click)="addCandidate(i)"-->
      <!--class="candidate-line example-full-width">-->
      <!--<app-candidate-dashboard-item [haveHoverEffect]="true" [isClosedIcon]="false"-->
      <!--[candidate]="candidate"-->
      <!--[clickableCandidate]="false"></app-candidate-dashboard-item>-->

      <!--<button class="example-full-width" mat-button>-->
      <!--<mat-icon>add</mat-icon>-->
      <!--</button>-->
      <div *ngIf="isThisCandidateAlreadyHere(candidate)">
        <div class="row">
          <div>
           <!-- [ngClass]="{'chosen-hoover': addMoreCandidates && isThisCandidateChosen(i)}" -->
            <app-candidate-dashboard-item [haveBoxShadow]="true"
                                          [haveHoverEffect]="false" [isClosedIcon]="false"
                                          [candidate]="candidate"
                                          [clickableCandidate]="false" (click)="selectClick(i)" [isSelect]="true" [(checkBox)]="candidate.select" [selectBoxShadow]="candidate.select" ></app-candidate-dashboard-item>

            <!--<button class="example-full-width" mat-button><mat-icon>add</mat-icon></button>-->

          </div>
        </div>
        <br>
      </div>
    </div>
  </dialog-body>
  <dialog-footer class="example-full-width">
    <span class="float-left">
      <button cdk-focus-initial autofocus mat-raised-button color="primary" (click)="close()">{{'No Thanks' | translate}}</button>
    </span>
    <span class="float-right" *ngIf="addMoreCandidates">
      <button cdk-focus-initial autofocus mat-raised-button color="primary"
              (click)="addaSelectedCanidates()">{{'Add selected' | translate}}</button>
    </span>
  </dialog-footer>
</app-modal-component>




