.candidate-line{
  display: flex;
  flex-direction: row;
}
.modal-select-checkbox{
  margin-left: 15px;
}
.dialog-container-padding{
  padding: 10px;
}
.chosen-hoover{
  border: 3px solid rgba(0, 99, 255, 0.64); /* Белая рамка */
  border-radius: 10px; /* Радиус скругления */
}
