
<mat-card>
  <div class="row">
    <div class="col-4">
      <mat-form-field class="custom-multiple-select">
        <mat-select [(ngModel)]="selectedStatuses" (ngModelChange)="changeStatuses()" multiple placeholder="{{'Statuses' | translate}}">
          <mat-select-trigger>
            <span *ngIf="selectedStatuses.length === statusesList.length">{{'All' | translate}}</span>
            <span *ngIf="selectedStatuses.length !== statusesList.length">{{selectedStatuses[0] | translate}}
              <span *ngIf="selectedStatuses.length > 1">(+{{selectedStatuses.length - 1}}
                {{selectedStatuses.length === 2 ? 'other' : 'others' | translate }})</span></span>
          </mat-select-trigger>
          <mat-option *ngFor="let topping of statusesList" [value]="topping">{{topping | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-4 custom-slider">
      <ng5-slider [(value)]="minSalary" (valueChange)="changeMinSalary()"
                  (highValueChange)="changeMaxSalary()" [(highValue)]="maxSalary" [options]="salaryOptions"></ng5-slider>
    </div>
    <div class="col-4 custom-slider">
      <ng5-slider *ngIf="yearsRequiredOptions" [(value)]="minYearsRequired" (valueChange)="changeMinYearsRequired()"
                  (highValueChange)="changeMaxYearsRequired()"
                  [(highValue)]="maxYearsRequired" [options]="yearsRequiredOptions"></ng5-slider>
    </div>
  </div>
  <!--<nouislider [min]="0" [max]="2" [step]="0.05" [(ngModel)]="someValue" [disabled]="false"></nouislider>-->
</mat-card>
