.vacancy{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.vacancyPannel{
  width: 92%;
  background-color: #90e4ff;
}
.vacancyStatus{
  margin-top: 20px;

}
.description{
  margin-top: 20px;
}
.latestCandidates{
  display: flex;
  flex-direction: row;
}
.vacancyEditButton{
  width: 5%;
  background-color: #007bff;
}
.vacancyDeleteButton{
  width: 5%;

  background-color: #35ccff;
}
.addButton{
  background-color: #35ccff;
}
.vacancyIsOpened{
  color: green;
}
.vacancyIsSuspended{
  color: yellow;
}
.vacancyIsCanceled{
  color: gray;
}
.vacancyIsClosed{
  color: red;
}
