
  <mat-card class="example-full-width">
    <div *ngFor="let jobDescription of selectedVacancies; let i = index" class="col-12 col-md-12">
      <app-job-description-dashboard-item [jobDescription]="jobDescription" (click)="goToJobDescriptionPage(jobDescription)" (deleteVacancy)="deleteVacancy(i)"></app-job-description-dashboard-item>
      <br>
    </div>
    <div class="col-12 col-md-12 center-item">
      <button (click)="openJobDescriptionDialog()" class="half-width" mat-raised-button color="primary">Add New</button>
    </div>
  </mat-card>
