<app-modal-component>
  <dialog-title>
    <span>{{'Alert' | translate}}</span>
    <button (click)="deleteVacancy(false)" class="float-right" mat-icon-button>
      <mat-icon [matTooltip]="'To close' | translate">close</mat-icon>
    </button>
  </dialog-title>
  <dialog-body>
    <span>{{'Do you really want to delete this candidate?' | translate}}</span>

  </dialog-body>
  <dialog-footer class="example-full-width">
    <span class="float-right">
    <button mat-button (click)="deleteVacancy(false)">{{'No Thanks' | translate}}</button>
    <button mat-raised-button color="primary" (click)="deleteVacancy(true)">{{'Ok' | translate}}</button>
    </span>
  </dialog-footer>
</app-modal-component>
