<mat-card class="example-full-width job-description-dashboard-item">
  <mat-card>
    <app-job-description-short-info [vacancy]="jobDescription" [buttonEdit]="false" [buttonDelete]="true" (deleteVacancy)="deleteVacancy($event)"></app-job-description-short-info>
  </mat-card>
  <br>
  <mat-card>
    <app-candidate-dashboard [filledCells]="12" [haveHoverEffect]="false" [isClosedIcon]="false" [candidates]="jobDescription.candidates"></app-candidate-dashboard>
  </mat-card>

  <!--<div><span class="big-text">{{jobDescription.position}}</span></div>-->
  <!--<mat-divider></mat-divider>-->
  <!--<br>-->
  <!--<div *ngIf="jobDescription.experienceYearsRequire">-->
    <!--<span class="title-text">experience:</span>-->
    <!--<span>{{jobDescription.experienceYearsRequire}} years</span>-->
  <!--</div>-->
  <!--<div *ngIf="jobDescription.salaryInDollarsTo || jobDescription.salaryInDollarsFrom">-->
    <!--<span class="title-text">salary: </span>-->
    <!--<span *ngIf="jobDescription.salaryInDollarsFrom">{{jobDescription.salaryInDollarsFrom}}</span>-->
    <!--<span *ngIf="jobDescription.salaryInDollarsFrom && jobDescription.salaryInDollarsTo"> - </span>-->
    <!--<span *ngIf="jobDescription.salaryInDollarsTo">{{jobDescription.salaryInDollarsTo}}</span>-->
    <!--</div>-->
</mat-card>
