
<nav class="navbar sticky-top navbar-expand-lg  navbar-dark  bg-primary navbar-itchar">
  <div class="container">
    <a class="navbar-brand"   routerLink="/candidate"><mat-icon>assessment</mat-icon></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li *ngFor="let route of routes; let i = index" [ngClass]="{'active': route.isActive}" (click)="changeRoute(i)" class="nav-item">
          <a class="nav-link"  [routerLink]="route.routerLink">{{route.title | translate}}</a>
        </li>
      </ul>
      <ul class="nav  navbar-nav navbar-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{'Language' | translate}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)="translateWorker.setLanguage('ru')">{{'Russian' | translate}}</a>
            <a class="dropdown-item" (click)="translateWorker.setLanguage('en')">{{'English' | translate}}</a>
          </div>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>
