<div class="user-avatar" [ngClass]="{'user-avatar-hover': haveHoverEffect}">
  <img [src]="src" alt="" onerror="this.src = '/assets/candidate/middle-man.jpg'" />
  <mat-icon class="fiber-icon-image"
            matTooltip="Status: {{candidate.candidateState.name}}" [ngClass]="{'success-fiber': true}">fiber_manual_record</mat-icon>
  <div (click)="clickAvatar()" class="avatar-hover">
    <mat-icon *ngIf="isClosedIcon" (click)="clickClose(); $event.stopPropagation()" class="close-icon-image" matTooltip="Delete Candidate">cancel</mat-icon>
    <mat-icon *ngIf="isEditedIcon" (click)="clickEdit()" class="edit-icon-image">create</mat-icon>
    <!--<mat-icon *ngIf="isMoreIcon" (click)="clickEdit()" class="more-icon-image">apps</mat-icon>-->
  </div>
  <!--<div class="user-name">-->
    <!--<div>-->
      <!--<span class="font-weight-bold">Full name:</span>-->
      <!--&nbsp;-->
      <!--<span>{{userWorker.formatFullName(candidate)}}</span>-->
    <!--</div>-->
    <!--<div *ngFor="let contact of candidate.contacts">-->
      <!--<span class="font-weight-bold">{{contact.contactType}}:</span>-->
      <!--&nbsp;-->
      <!--<span>{{contact.contactDetails}}</span>-->
    <!--</div>-->
  <!--</div>-->

</div>
