.user-avatar {
  //border: 1px solid;
  display: inline-block;
  position: relative;
  //float: right;
  &.me {
    display: block;
    margin: 2em auto;
    margin-bottom: 3em;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    .avatar-hover {
      border-radius: 50%;
    }
  }
  &:hover {
    border-color: #00b0f0;
    & .avatar-hover{
      display: block;
    }
  }
  img {
    width: 100%;
  }
  .avatar-hover {
    &:hover {
      cursor: pointer;
      .more-icon-image {
        zoom: 2;
      }
    }
    .more-icon-image {
      &:hover{
      }
      position: absolute;
      bottom: 0%;
      transform: translate(50%,0);
      right: 50%;
    }
    .edit-icon-image {
      &:hover{
        cursor: pointer;
      }
      position: absolute;
      bottom: 0;
      right: 0;
    }
    .close-icon-image {
      &:hover{
        cursor: pointer;
      }
      position: absolute;
      top: 0;
      right: 0;
    }
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .7);
    //background-color: #cccccc;
    color: white;
    font-size: 1rem;
    padding: 15px 10px;
  }
}
