<!-- <mat-card> -->
<div class="row">
  <div class="col-12 col-md-12">
    <app-candidate-avatar [haveHoverEffect]="true" [isEditedIcon]="true" [candidate]="candidate"></app-candidate-avatar>
    <!-- <ngx-avatar 
      src="assets/candidate/icons8-person-80.png"
      [round]="false"
      borderColor="black"></ngx-avatar> -->
  </div>
</div>
<!--<div class="row">-->
  <!--<div class="col-12 col-md-6">-->
    <br>
    <mat-card>
      <!--<p>-->
      <div *ngIf="!readonly">
        <mat-form-field class="example-full-width">
          <input (blur)="onFocusoutAnyInput()" [(ngModel)]="candidate.name"  matInput placeholder="Name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input (blur)="onFocusoutAnyInput()" [(ngModel)]="candidate.surname" matInput placeholder="Surname" >
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input (blur)="onFocusoutAnyInput()" matInput placeholder="Position">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input (blur)="onFocusoutAnyInput()" [(ngModel)]="candidate.candidateState.name" matInput placeholder="Status">
        </mat-form-field>
      </div>
      <div *ngIf="readonly">
        <div class="row">
          <div class="col-3">
            <span class="font-weight-bold float-right">Name:</span>
          </div>
          <div class="col-9">
            <span>{{candidate.name}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <span class="font-weight-bold float-right">Surname:</span>
          </div>
          <div class="col-9">
            <span>{{candidate.surname}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <span class="font-weight-bold float-right">Status:</span>
          </div>
          <div class="col-9">
            <span>{{candidate.candidateState.name}}</span>
          </div>
        </div>
      </div>
      <!--Name: <span>{{candidate.name}} {{candidate.surname}}</span>-->
      <!--<mat-icon (click)="openNameDialog()" class="edit-icon">create</mat-icon>-->
      <!--</p>-->
      <!--<p>-->
      <!--Position: <span>??</span>-->
      <!--<mat-icon class="edit-icon">create</mat-icon>-->
      <!--</p>-->
      <!--<p>-->
    </mat-card>
    <br>
    <mat-card>
      <mat-card-title>Contacts</mat-card-title>
      <mat-card-content>
        <div *ngIf="!readonly">
          <mat-checkbox [(ngModel)]="tests.email" (ngModelChange)="changeEmail()">
            <mat-form-field class="example-full-width" *ngIf="tests.email && tests.emailObject">
              <input [(ngModel)]="tests.emailObject.contactDetails" (blur)="onFocusoutAnyInput()" matInput placeholder="Email">
            </mat-form-field>
            <span  *ngIf="!tests.email">Email</span>
          </mat-checkbox>
          <br>
          <mat-checkbox [(ngModel)]="tests.skype" (ngModelChange)="changeSkype()">
            <mat-form-field class="example-full-width" *ngIf="tests.skype && tests.skypeObject">
              <input [(ngModel)]="tests.skypeObject.contactDetails" (blur)="onFocusoutAnyInput()" matInput placeholder="skype">
            </mat-form-field>
            <span  *ngIf="!tests.skype">skype</span>
          </mat-checkbox>
          <br>
          <mat-checkbox [(ngModel)]="tests.phone" (ngModelChange)="changePhone()">
            <mat-form-field class="example-full-width" *ngIf="tests.phone && tests.phoneObject">
              <input [(ngModel)]="tests.phoneObject.contactDetails" (blur)="onFocusoutAnyInput()" matInput placeholder="phone">
            </mat-form-field>
            <span  *ngIf="!tests.phone">phone</span>
          </mat-checkbox>
        </div>
        <div *ngIf="readonly">
          <div class="row" *ngFor="let contact of candidate.contacts">
            <div class="col-3">
              <span class="font-weight-bold float-right">{{contact.contactType}}</span>
            </div>
            <div class="col-9">
              <span>{{contact.contactDetails}}</span>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
      <!--Status:-->
      <!--<span>{{candidate.candidateState.name}}</span>-->
      <!--<mat-icon (click)="openStatusDialog()" class="edit-icon">create</mat-icon>-->
    <!--</p>-->
  <!--</div>-->
<!--</div>-->
<!-- </mat-card> -->
