<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle (click)="addAssignInterview()"><mat-icon class="myIcon">event</mat-icon><br>Add assign  interview</mat-button-toggle>
  <mat-button-toggle (click)="addCV()"><mat-icon class="myIcon">insert_drive_file</mat-icon><br>Add CV file</mat-button-toggle>
  <mat-button-toggle (click)="addExperience()"><mat-icon class="myIcon">description</mat-icon><br>Add info About experience</mat-button-toggle>
  <mat-button-toggle (click)="addNote()"><mat-icon class="myIcon">feedback</mat-icon><br>Add some note</mat-button-toggle>
</mat-button-toggle-group>
<!--<div class="btn-toolbar" role="toolbar">-->
  <!--<div class="btn-group btn-group-justified" role="group">-->
    <!--<div class="btn-group" role="group">-->
      <!--<button id="list" class="btn btn-primary" data-original-title="Refreshr"><i class="fa fa-refresh fa-lg" aria-hidden="true"></i></button>-->
    <!--</div>-->
    <!--<div class="btn-group" role="group">-->
      <!--<button id="new" class="btn btn-primary" data-original-title="New"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></button>-->
    <!--</div>-->
    <!--<div class="btn-group" role="group">-->
      <!--<button id="passreset" class="btn btn-primary" data-original-title="Password Reset"><i class="fa fa-key fa-lg" aria-hidden="true"></i></button>-->
    <!--</div>-->
    <!--<div class="btn-group" role="group">-->
      <!--<button id="desact" class="btn btn-primary" data-original-title="Deactivate"><i class="fa fa-low-vision fa-lg" aria-hidden="true"></i></button>-->
    <!--</div>-->
    <!--<div class="btn-group" role="group">-->
      <!--<button id="react" class="btn btn-primary disabled" data-original-title="Activate"><i class="fa fa-eye fa-lg" aria-hidden="true"></i></button>-->
    <!--</div>-->
    <!--<div class="btn-group" role="group">-->
      <!--<button id="delete" class="btn btn-warning" data-original-title="Delete"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></button>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
