.text-center, .center-text {
  text-align: center;
}

.center-item, .item-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-right-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-to-bottom-parent {
  display: flex;
  flex-direction: column;
  .flex-to-bottom-child {
    margin-top: auto;
  }

}
