.text-center, .center-text {
  text-align: center;
}

.center-item, .item-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-right-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}