.candidate-list {
  .btn {
    // background-color: DodgerBlue;
    background-color: cornflowerblue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    &.btn-action, &.action-button {
      background: none;
      // color:DodgerBlue;
      color: cornflowerblue;
    }
  }
  .myButton{
    margin-right:10px;
  }
  div.contacts{
    display:inline-block;
    border:1px solid black;
    border-radius:20px;
    width:80%;
  }
  
  li{
    list-style-type: none;
    color: cornflowerblue;
  }
  .headline{
    color:cornflowerblue;
    margin-bottom:2px;
  }
}

.candidate-textarea-field {
    .mat-form-field-infix {
      border: 1px solid DodgerBlue;
      border-radius: 5px;
    }
  
    .txtArea {
     resize: none;
    }
}
