@import "variables";
.mat-option {
  .mat-pseudo-checkbox-checked::after {
    top: 2.4px;
    left: 1px;
    width: 10px;
    height: 5px;
    border-left: 2px solid currentColor;
    transform: rotate(-45deg);
    opacity: 1;
  }
}
.checkbox-with-multiline-text {
  .mat-checkbox-label {
    white-space: normal;
  }
}
.checkbox-with-hover {
  .mat-checkbox-inner-container {
    visibility: hidden;
  }
  &:hover .mat-checkbox-inner-container {
    visibility: visible;
  }
}
//.mat-checkbox{
//  &.mat-checkbox-checked {
//    .mat-checkbox-frame {
//      //border-color: black;
//      background-color: $basic-color;
//    }
//  }
//}
