.custom-pagination /deep/ .ngx-pagination {
  padding: 0;
  margin: 0;
}
.custom-pagination /deep/ .ngx-pagination .pagination-next a::after, .custom-pagination /deep/ .ngx-pagination .pagination-next.disabled::after {
  margin: 0;
  content: '>';
}
.custom-pagination /deep/ .ngx-pagination .pagination-previous a::before, .custom-pagination /deep/ .ngx-pagination .pagination-previous.disabled::before {
  margin: 0;
  content: '<';
}
.height-div {
  height: 30px;
}
.padding-element {
  padding: 0 !important;
}
.padding-element-right {
  padding-right: 10px !important;
}
