
.fiber-icon-image {
  &:hover{
    cursor: pointer;
  }
  //position: absolute;
  //bottom: 100;
  //left: 0;
  //z-index: 1000;
  &.success-fiber {
    color: lawngreen;
  }
  &.fail-fiber {
    color: #8a3700;
  }
}
