.searchbar-input-field {
  .mat-form-field-infix {
    margin: 0;  
    padding: 5px; 
    border-top: 0;
  }
}

.input-group-prepend {
  opacity: 0.6;
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

.star-input {
  &::placeholder {
    color: red;
  }
}

textarea {
  &, &.mat-input-element {
    resize: none !important;
  }
}

.mat-form-field {
  .custom-timepicker-toogle {
    button {
      position: absolute;
      right: 0;
      width: 20px;
      top: 0;
      height: 20px;
      padding: 0;
      color: rgba(0, 0, 0, 0.54);
    }
  }
}
