$background: #fff;
$box-shadow: 0 0 0 2px white, 0 0 0 4px #3F51B5;
.job-description-dashboard-item {
  transition: 0.25s;

  &:hover {
    background: $background;
    box-shadow: $box-shadow;
    cursor: pointer;
    .candidate-dashboard-item {
      background: $background;
      box-shadow: $box-shadow;
      .user-avatar {
        & {

          & .avatar-hover{
            display: block;
            background: rgba(217, 219, 226, .5);
          }
        }

    }
    }
    mat-card {
      background: $background;
      //box-shadow: $box-shadow;
    }
    //img {
    //  background: #ccc;
    //}
    //.avatar-hover {
    //  background: #ccc;
    //}
    //.user-avatar-hover {
    //  background: #ccc;
    //}
    //.user-avatar {
    //  background: #ccc;
    }

  }


.job-description-requirements {
  mat-icon, .material-icons {
    font-size: 1.5em;
    border-radius: 50%;
    &:hover {
      cursor: pointer;
      background: #cccccc;
    }
  }

}
