.job-description-dashboard-item {
  &:hover {
    background: #cccccc;
    .candidate-dashboard-item {
      background: #ccc;
      .user-avatar {
        background-color: rgba(0, 0, 0, .3);
      }
      .user-avatar-hover {
        background-color: rgba(0, 0, 0, .3);
      }
      .avatar-hover {
        display: block;
      }
    }
  }
}

.job-description-requirements {
  mat-icon, .material-icons {
    font-size: 1.5em;
    border-radius: 50%;
    &:hover {
      cursor: pointer;
      background: #cccccc;
    }
  }

}
