.job-description-dashboard-item {
  &:hover {
    background: #cccccc;
  }
}

.job-description-requirements {
  mat-icon, .material-icons {
    font-size: 1.5em;
    border-radius: 50%;
    &:hover {
      cursor: pointer;
      background: #cccccc;
    }
  }

}
