<!--<mdb-card>-->
<app-modal-component>
  <dialog-title>
    <!--<mdb-card-header class="info-color white-text text-center py-4">-->
      <!--<h5>-->
        <!--<strong>Interview</strong>-->
      <!--</h5>-->
    <!--</mdb-card-header>-->
    <div class="center-text"> {{'Interview' | translate}}

    </div>
  </dialog-title>
  <dialog-body>
    <form [formGroup]="interviewForm">
      <mat-form-field class="example-full-width">
        <input matInput [min]="minDate" [(ngModel)]="planDate.dateDate" (dateChange)="updateDate($event)" formControlName="from" [(ngModel)]="editedInterview.planDate" [matDatepicker]="picker" placeholder="{{'Plan Date' | translate}}">
        <mat-datepicker-toggle name="dateSuffix" matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <!--<mat-form-field class="example-full-width">-->

      <!--<input placeholder="Start Time" matInput atp-time-picker>-->
        <!--<button mat-button matSuffix mat-icon-button aria-label="Pick Start Time">-->
          <!--<mat-icon>access_time</mat-icon>-->
        <!--</button>-->
      <!--</mat-form-field>-->
      <!--<mat-form-field class="example-full-width">-->

        <!--<input type="time" placeholder="End time" matInput atp-time-picker>-->
        <!--<button mat-button matSuffix mat-icon-button aria-label="Pick End Time">-->
          <!--<mat-icon>access_time</mat-icon>-->
        <!--</button>-->
      <!--</mat-form-field>-->
      <!--<ejs-timepicker placeholder='Select a time' [showClearButton]="false"></ejs-timepicker>-->
      <!--<mdb-time-picker [buttonLabel]="'Done'" [twelvehour]="false" [darktheme]="true" [placeholder]="'Selected time'" [label]="'Dark version, 24hours'"></mdb-time-picker>-->
      <!--<md2-datepicker #birthday></md2-datepicker>-->
      <!--<button [md2DatepickerToggle]="birthday"></button>-->


      <app-custom-timepicker formControlName="fromTime" [(ngModel)]="planDate.time" [fullWidth]="true" (ngModelChange)="updateTime()"></app-custom-timepicker>

      <!--<mat-form-field class="example-full-width">-->
      <!--<input [min]="dateTimeWorker.config.minTime" [max]="dateTimeWorker.config.maxTime" formControlName="fromTime" matInput placeholder="{{'Start Time' | translate}}" [(ngModel)]="planDate.timeString"  [format]="24" [ngxTimepicker]="toggleTimepicker">-->
        <!--<button class="custom-timepicker-toggle" mat-button matSuffix mat-icon-button aria-label="Pick End Time">-->
        <!--<ngx-material-timepicker-toggle  [for]="toggleTimepicker">-->
          <!--<mat-icon ngxMaterialTimepickerToggleIcon>access_time</mat-icon>-->
        <!--</ngx-material-timepicker-toggle>-->
        <!--</button>-->
      <!--<ngx-material-timepicker (timeSet)="updateTime($event)"  [ngxMaterialTimepickerTheme]="darkTheme" #toggleTimepicker></ngx-material-timepicker>-->
      <!--</mat-form-field>-->
      <mat-form-field class="example-full-width" *ngIf="!data.fixedCandidate">
        <mat-select [placeholder]="'Candidate' | translate"
          [compareWith]="typeCheckingWorker.compareObjects" [(value)]="editedCandidate" (selectionChange)="changeCandidate()">
          <mat-option *ngFor="let food of candidates" [value]="food">
            {{userWorker.formatFullName(food)}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-select [placeholder]="'Vacancy' | translate" [compareWith]="typeCheckingWorker.compareObjects" [(value)]="sourceVacancy">
          <mat-option *ngFor="let food of vacancies" [value]="food">
            {{food.position}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!--<mat-form-field class="example-full-width">-->
        <!--<input matInput placeholder="End Time"  [format]="24" [ngxTimepicker]="toggleTimepickerEnd">-->
        <!--<button class="custom-timepicker-toggle" mat-button matSuffix mat-icon-button aria-label="Pick End Time">-->
          <!--<ngx-material-timepicker-toggle  [for]="toggleTimepickerEnd">-->
            <!--<mat-icon ngxMaterialTimepickerToggleIcon>access_time</mat-icon>-->
          <!--</ngx-material-timepicker-toggle>-->
        <!--</button>-->
        <!--<ngx-material-timepicker  [ngxMaterialTimepickerTheme]="darkTheme" #toggleTimepickerEnd></ngx-material-timepicker>-->
      <!--</mat-form-field>-->

      <br>
      <mat-form-field class="example-full-width">
        <input matInput formControlName="to"  [(ngModel)]="editedInterview.factDate" [min]="editedInterview.planDate" [matDatepicker]="picker1" placeholder="{{'Fact Date' | translate}}">
        <mat-datepicker-toggle name="dateSuffix1" matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </form>
  </dialog-body>
  <dialog-footer class="example-full-width">
    <span  *ngIf="data.isEdit" class="float-left">
      <button (click)="clickDeleteInterview()" mat-raised-button color="warn">{{'Delete' | translate}}</button>
    </span>
    <span class="float-right">
      <button mat-button (click)="onNoClick()">{{'No Thanks' | translate}}</button>
      <button *ngIf="!data.isEdit" mat-raised-button color="primary" [disabled]="interviewForm.invalid" (click)="addInterview()" cdkFocusInitial>{{'Create' | translate}}</button>
      <button *ngIf="data.isEdit" mat-raised-button color="primary" [disabled]="interviewForm.invalid" (click)="editInterview()" cdkFocusInitial>{{'Edit' | translate}}</button>
    </span>
  </dialog-footer>
</app-modal-component>
<!--</mdb-card>-->
