.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: RoyalBlue;
}
div{
  display: inline-block;
}
.myButton{
  margin-right:10px;
}
div.contacts{
  display:inline-block;
  border:1px solid black;
  border-radius:20px;
  width:80%;
}

li{
  list-style-type: none;
  color: cornflowerblue;
}
.headline{
  color:cornflowerblue;
  margin-bottom:2px;
}
