<mat-label style="color: gray;">  {{viewOfDate}}</mat-label>
<mat-card (mouseenter)="visible = true" (mouseleave)="visible = false" class="backgroundCard">
  <mat-card-title><mat-icon class="myIcon">feedback</mat-icon> {{'Interview Feedback' | translate}}
    <span class="float-right">
      <mat-icon *ngIf="visible" matTooltip="{{'Change' | translate}}" (click)="change()">create</mat-icon>
      <mat-icon *ngIf="visible" matTooltip="{{'Delete' | translate}}" (click)="delete()">delete</mat-icon>
    </span>
  </mat-card-title>
  <div>{{'Interview' | translate}}: <a [routerLink]="'/interview/'+editedNote.interview.id">{{viewOfInterview}}</a></div>
  <div>{{'Vacancy' | translate}}: <a [routerLink]="'/job-description/'+editedNote.interview.vacancy.id">{{editedNote.interview.vacancy.position.name}}</a></div>
  <br>
  <mat-card>
    <div *ngFor="let feedbackDetails of editedNote.feedbackDetails; let feedbackIndex = index">
      <mat-card-title *ngIf="feedbackIndex === 0 && feedbackDetails.requirement.public == true">{{'Public' | translate}}</mat-card-title>
      <mat-card-title *ngIf="feedbackDetails.requirement.public == false &&
      (feedbackIndex === 0 || editedNote.feedbackDetails[feedbackIndex - 1].requirement.public == true)">{{'Private' | translate}}</mat-card-title>
      <!--<form #myForm="ngForm">-->
        <!--<mat-form-field  class="example-full-width custom-form-field">-->
          <!--<textarea (blur)="onFocusoutAnyInput(myForm.form.valid)" [name]="feedbackDetails.requirement.name" [required]="feedbackDetails.requirement.required" [(ngModel)]="feedbackDetails.feedbackText" placeholder="{{feedbackDetails.requirement.name | translate}}" matInput></textarea>-->
          <!--<button mat-button  matSuffix mat-icon-button aria-label="Clear" class="edited-hover-button">-->
            <!--<mat-icon>edit</mat-icon>-->
          <!--</button>-->
        <!--</mat-form-field>-->
      <!--</form>-->
      <div class="gray-item material-placeholder-text small-text">{{feedbackDetails.requirement.name | translate}}</div>
      <div>{{feedbackDetails.feedbackText}}</div>
    </div>
  </mat-card>
</mat-card>
