<mat-label style="color: gray;">  {{viewOfDate}}</mat-label>
<mat-card class="backgroundCard">
  <mat-icon class="delete" matTooltip="{{'Delete' | translate}}" (click)="delete()">close</mat-icon>
  <mat-card-title><mat-icon class="myIcon">feedback</mat-icon> {{'Feedback' | translate}}</mat-card-title>
  <mat-card>
    <div *ngFor="let feedbackDetails of editedNote.feedbackDetails; let feedbackIndex = index">
      <mat-card-title *ngIf="feedbackIndex === 0">{{'Public' | translate}}</mat-card-title>
      <mat-card-title *ngIf="feedbackDetails.requirement.public == false &&
      (feedbackIndex === 0 || editedNote.feedbackDetails[feedbackIndex - 1].requirement.public == true)">{{'Private' | translate}}</mat-card-title>
      <mat-form-field  class="example-full-width custom-form-field">
        <textarea (blur)="onFocusoutAnyInput()" [required]="feedbackDetails.requirement.required" [(ngModel)]="feedbackDetails.feedbackText" placeholder="{{feedbackDetails.requirement.name | translate}}" matInput></textarea>
        <button mat-button  matSuffix mat-icon-button aria-label="Clear" class="edited-hover-button">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </mat-card>
</mat-card>
