
<mat-form-field [ngClass]="{'custom-form-field': hideUnderline, 'example-full-width': fullWidth}">
<input matInput required placeholder="{{placeholder | translate}}" [min]="min" [max]="max" [(ngModel)]="timeString" (ngModelChange)="changeTime()" [format]="format" [ngxTimepicker]="toggleTimepicker">
<button class="custom-timepicker-toggle" mat-button matSuffix mat-icon-button aria-label="Pick End Time">
  <ngx-material-timepicker-toggle  [for]="toggleTimepicker">
    <mat-icon ngxMaterialTimepickerToggleIcon>access_time</mat-icon>
  </ngx-material-timepicker-toggle>
</button>
<ngx-material-timepicker [cancelBtnTmpl]="cancelBtn"
                         [confirmBtnTmpl]="confirmBtn" [ngxMaterialTimepickerTheme]="darkTheme" #toggleTimepicker></ngx-material-timepicker>
</mat-form-field>
<ng-template #cancelBtn>
  <button class="float-right margin-right-button" mat-button>{{'No Thanks' | translate}}</button> &nbsp;
</ng-template>
<ng-template #confirmBtn>
  <button class="float-right" mat-raised-button color="primary">{{'Ok' | translate}}</button>
</ng-template>
