
<mat-form-field [ngClass]="{'custom-form-field': hideUnderline}">
<input matInput placeholder="{{'Start Time' | translate}}" [(ngModel)]="timeString" (ngModelChange)="changeTime()" [format]="format" [ngxTimepicker]="toggleTimepicker">
<button class="custom-timepicker-toggle" mat-button matSuffix mat-icon-button aria-label="Pick End Time">
  <ngx-material-timepicker-toggle  [for]="toggleTimepicker">
    <mat-icon ngxMaterialTimepickerToggleIcon>access_time</mat-icon>
  </ngx-material-timepicker-toggle>
</button>
<ngx-material-timepicker  [ngxMaterialTimepickerTheme]="darkTheme" #toggleTimepicker></ngx-material-timepicker>
</mat-form-field>
