<app-modal-component>
  <dialog-title>
    <span *ngIf="data.isEdit">
      {{'Edit attachment' | translate}}
    </span>
    <span *ngIf="!data.isEdit">
      {{'Add attachment' | translate}}
    </span>
    <button (click)="onNoClick()" class="float-right" mat-icon-button>
      <mat-icon [matTooltip]="'To close' | translate">close</mat-icon>
    </button>
  </dialog-title>
  <dialog-body>
    <form [formGroup]="attachmentForm">
      <!--<input type="file">-->
      <!--<mat-form-field class="example-full-width">-->
        <button (click)="fileUpload.nativeElement.click()" mat-raised-button color="primary">{{'Choose file' | translate}}...</button>
      <input (change)="selectFileToUpload($event)" formControlName="filePath" type="file" #fileUpload class="hidden-input-upload" *ngIf="editedAttachment != null" placeholder="filePath" [(ngModel)]="editedAttachment.filePath">
      <!--</mat-form-field>-->
      &nbsp; <span *ngIf="editedAttachment != null">{{editedAttachment.file?.name}}</span>
      <div *ngIf="editedAttachment.attachmentType === 'PHOTO'">
        <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="4 / 3"
          [resizeToWidth]="250"
          [roundCropper]="false"
          format="png"
          outputType="base64"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()"
          (loadImageFailed)="loadImageFailed()"
          style="max-height: 33vh"
          [style.display]="showCropper ? null : 'none'"
        ></image-cropper>
      </div>
      <mat-form-field class="example-full-width">

        <mat-select [(ngModel)]="editedAttachment.attachmentType" required formControlName="attachmentType" placeholder="{{'Attachment type' | translate}}">
          <mat-option *ngFor="let attachmentsType of getAttachmentsTypes()" [value]="attachmentsType">
            {{attachmentsType | translate}}
          </mat-option>
        </mat-select>

        <!-- <input *ngIf="editedAttachment != null" placeholder="attachmentType" [(ngModel)]="editedAttachment.attachmentType"
          matInput> -->
      </mat-form-field>
    </form>
  </dialog-body>
  <dialog-footer class="example-full-width">
    <span class="float-right">
    <button mat-button (click)="onNoClick()">{{'No Thanks' | translate}}</button>
    <button mat-raised-button color="primary" [disabled]="attachmentForm.invalid" (click)="editCandidate()" cdkFocusInitial>{{'Ok' | translate}}</button>
    </span>
  </dialog-footer>
</app-modal-component>
