<app-modal-component>
  <dialog-title>
    <span *ngIf="data.isEdit">
      Edit Attachment
    </span>
    <span *ngIf="!data.isEdit">
      Add Attachment
    </span>
  </dialog-title>
  <dialog-body>
    <form [formGroup]="attachmentForm">
      <!--<input type="file">-->
      <!--<mat-form-field class="example-full-width">-->
        <input (change)="selectFile($event)" formControlName="filePath" type="file" *ngIf="editedAttachment != null" placeholder="filePath" [(ngModel)]="editedAttachment.filePath">
      <!--</mat-form-field>-->
      <mat-form-field class="example-full-width">

        <mat-select [(ngModel)]="editedAttachment.attachmentType" required formControlName="attachmentType" placeholder="Attachment type">
          <mat-option *ngFor="let food of getAttachmentsTypes()" [value]="food">
            {{food}}
          </mat-option>ф
        </mat-select>
        <!-- <input *ngIf="editedAttachment != null" placeholder="attachmentType" [(ngModel)]="editedAttachment.attachmentType"
          matInput> -->
      </mat-form-field>
    </form>
  </dialog-body>
  <dialog-footer>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-raised-button color="primary" [disabled]="attachmentForm.invalid" (click)="editCandidate()" cdkFocusInitial>Ok</button>
  </dialog-footer>
</app-modal-component>
