@media (min-width: 576px) {
  .custom-sticky-short-info {
  position: relative;
  width: auto;
  }
  .custom-sticky-timeline {
    width: auto;
  }
}

@media (min-width: 768px) {
  .custom-sticky-short-info {
  position: relative;
  width: auto;
  }
  .custom-sticky-timeline {
    width: auto;
  }
}

@media (min-width: 992px) {
  .custom-sticky-short-info {
    position: sticky;
    top: 4rem;
    margin-right: 15px;
    //float: left;
    display: inline-block;
    vertical-align: top;
    width: 310px;
    //height: 20rem;
  }
  .custom-sticky-timeline {
    //float: right;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 600px;
  }
}

@media (min-width: 1200px) {
  .custom-sticky-short-info {
    position: sticky;
    top: 4rem;
    margin-right: 15px;
    //float: left;
    display: inline-block;
    vertical-align: top;
    width: 310px;
    //height: 20rem;
  }
  .custom-sticky-timeline {
    //float: right;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 785px;
  }
}
