
  <mat-spinner *ngIf="!candidate">
  </mat-spinner>
  <div class="row">
    <div class="col-lg-3 col-12" >
      <!--<div sticky [sticky-offset-top]="60" ng-reflect-width="auto">-->
    <!--<div>-->
        <div sticky [sticky-offset-top]="60" [sticky-offset-bottom]="50" sticky-orientation="left" sticky-width="200">
          <!--<perfect-scrollbar style="height: 100vh;">-->
          <!--<mat-card>-->
          <div>
            <app-short-info-user (clickAvatar)="clickAvatar()" *ngIf="candidate" [haveHoverEffectOnAvatar]="true" [isEditIconOnAvatar]="true" [readonly]="false" [candidate]="candidate"></app-short-info-user>
          </div>
          <!--</perfect-scrollbar>-->
        </div>
    </div>
    <!--</div>-->
    <!--</div>-->

    <div class="col-lg-9 col-12">
      <app-candidate-timeline *ngIf="candidate"  [candidate]="candidate" (clickClose)="deleteTimelineItem($event)" (addTimelineItem)="addTimelineItem($event)" (changeTimeline)="changeTimelineItem($event)" [timelineNotes]="eventNoteList"></app-candidate-timeline>
    </div>
    <input #fileInput (change)="selectFile($event)" formControlName="filePath" type="file" id="getFile" class="hidden-input-upload" placeholder="filePath">
  </div>
