<mat-card >
  <mat-icon class="delete" matTooltip="Delete" matTooltip="Delete" (click)="delete()">close</mat-icon>
  <mat-card-title><mat-icon class="myIcon">insert_drive_file</mat-icon> Cv</mat-card-title>
  <mat-card-content>
    <img [src]="'file:///' + editedAttachment.filePath"/>
    <!--<app-candidate-attachment></app-candidate-attachment>-->
    <mat-form-field class="example-full-width">
      <textarea (blur)="onFocusoutAnyInput()" matInput placeholder="Comment" [(ngModel)]="editedAttachment.comment"></textarea>
    </mat-form-field>
  </mat-card-content>
</mat-card>
