<div class="row">
  <div class="col-12">
    <div id="imaginary_container">
      <div [ngClass]="{'advanced-search-group': isAdvancedSearch}" class="input-group stylish-input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><mat-icon>search</mat-icon></span>
        </div>
        <!--<p-autoComplete [(ngModel)]="value" [suggestions]="autocompleteList" (completeMethod)="search(value)"></p-autoComplete>-->
        <input type="text"
               [(ngModel)]="value"
               (ngModelChange)="search(value)"
               (focus)="focus()" (blur)="blur()" class="form-control" placeholder="{{'Search'| translate}}">
        <div *ngIf="isAdvancedSearch" (click)="clickAdvancedSearch()" class="input-group-append">
          <span class="input-group-text" id="inputGroupFileAddon02"><a>{{(isTurnOnAdvancedSearch ? 'Turn off' : 'Turn on') | translate}} {{'advanced search' | translate}}</a></span>
        </div>
        <!-- <span class="input-group-addon">
          <button type="submit">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span> -->
      </div>
      <div *ngIf="isFocus" class="custom-dropdown-content example-full-width">
        <div class="custom-dropdown-item" *ngFor="let item of filteredAutocompleteList | slice:0:limitTo" (click)="setValue(item);">
          <span>{{item}}</span>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="col-12">-->
  <!--</div>-->
</div>
