#imaginary_container{
  // margin-top:20%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
  background: white !important; 
}
.stylish-input-group .form-control{
// border-right:0; 
box-shadow:0 0 0; 
border-color:#ccc;
}
.stylish-input-group button{
  border:0;
  background:transparent;
}
.advanced-search {
}
.advanced-search-group {
  input {
    border-right: 0;
  }
  .input-group-append {
    &, .input-group-text {
      a {
        font-size: 0.8em;
        color: #007ad9;
      }
      background: white;
      border-left: 0;
    }
  }
}
