<div class="row">
  <div class="col-12">
    <div id="imaginary_container">
      <div class="input-group stylish-input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><mat-icon>search</mat-icon></span>
        </div>
        <input type="text" (input)="search($event.target.value)" class="form-control" placeholder="{{'Search'| translate}}">
        <!-- <span class="input-group-addon">
          <button type="submit">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span> -->
      </div>
    </div>
  </div>
</div>
