.flex-container {
  display: -webkit-flex;
  display: flex;
}
.text{
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}
.flex-center {
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.calendar-arrow {
  display: flex;
  align-items: center;
  &.arrow-left {
    justify-content: flex-end;
  }
  &.arrow-right {
    justify-content: flex-start;
  }
  &:hover {
    cursor: pointer;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

#calendar-container, .month {
  //width: 50%;
}

.calendar-day {
  width: 140px;
  height: 120px;
  background: white;
  border: 1px solid rgb(235, 235, 235);
  text-align:left;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
.calendar-day-of-week {
  margin-top: 10px;
  width: 140px;
  height: 40px;
  text-align:left;
  background: #9675ce;
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  border-color: #cdcdcd;
}
.calendar-weekday {
  display: block;
  margin-top: 10px;
  width: 140px;
  height: 70px;
  text-align:left;
  background: #9675ce;
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  border-color: #cdcdcd;
}
.last-month {
  opacity:0.3;
  background: #8eceff;
  &:hover {
    cursor: default;
    opacity: 0.3;
  }
}
.disable {
  opacity:0.4;
  background: #FFFFFF;
  &:hover {
    cursor: default;
    opacity: 0.4;
  }
}
.today{
  color:blue;
  background: rgba(35, 98, 255, 0.18);
}
p{
  font-size:10px;
  height:40%;
  width:80%;
  margin:10px;
}
h2 {
  text-align: center;
  display: inline;
  font-weight:bold;
}
h5{
  margin:0px;
}
