

<div class="row">
  <div class="col-3 padding-element">
    <span class="height-div"></span>
    <div class="column">
      <!--<label class="number-of-vacanies">{{numberOfVacanciesTitle}} ({{numberOfVacancies}})</label>-->
      <mat-form-field class="number-of-vacancies">
        <mat-select [placeholder]="placeholder | translate" [(ngModel)]="size" (ngModelChange)="changeSize()">
          <mat-option *ngFor="let state of itemsPerPageValues" [value]="state">{{state}} {{'of' | translate}} {{numberOfVacancies}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>
  <div class="col-5 center-vertical-text-container">
    <pagination-controls class="custom-pagination float-left" [nextLabel]="''" [previousLabel]="''"
                         [id]="idPagination"
                         [responsive]="true" [autoHide]="true" (pageChange)="changePage($event)">
    </pagination-controls>
  </div>

  <div *ngIf="isButtonAdd" class="col-4 center-item">
    <button (click)="clickAddButton()" class="vacancy-add-buttons" mat-raised-button color="primary">{{addButtonText | translate}}
    </button>
  </div>
</div>
<ng-content></ng-content>
