<mat-card>
  <div class="row">
    <div class="col-12">
      <mat-card>
        <app-job-description-short-info *ngIf="vacancy" [vacancy]="vacancy"
                                        [isEdited]="false" [buttonEdit]="true" [buttonDelete]="false" (changeVacancy)="changeVacancy($event)"></app-job-description-short-info>
      </mat-card>
    </div>
    <!--<div class="col-12">
      <app-job-description-requirements *ngIf="vacancy" [vacancy]="vacancy"
                                        [isMoreIcon]="true"></app-job-description-requirements>
    </div>-->
  </div>
</mat-card>

<br>
<mat-card>
  <mat-card-title>
    <span>{{'Selected Candidates' | translate}}</span>
    &nbsp;
    <button mat-mini-fab color="primary" (click)="changeSearchInputSelected()">
      <mat-icon>search</mat-icon>
    </button>
    &nbsp;
    <button mat-mini-fab color="primary" (click)="openExistingCandidatesModalWindow()" >
      <mat-icon>person_add</mat-icon>
    </button>
  </mat-card-title>
  <div *ngIf="searchInputSelected">
    <app-search-input (onSearch)="searchSelected($event)"></app-search-input>
    <br>
  </div>
  <mat-divider></mat-divider>
<br>
<app-candidate-dashboard [isDeleteIcon]="false" [isClosedIcon]="true" (deleteCandidate)="askForDeleteCandidate($event)" (deleteCandidateFromTheBase)="askForDeleteCandidateFromTheBase($event)" [search]="searchValueSelected" (addCandidate)="addCandidate($event)" *ngIf="vacancy && vacancy.candidates" [candidates]="vacancy.candidates" [haveAddElement]="false"></app-candidate-dashboard>


</mat-card>
<!--<mat-card>-->
  <!--<mat-card-title>-->
    <!--<span>{{'Possible Candidates' | translate}}</span>-->
    <!--&nbsp;-->
    <!--<button mat-mini-fab color="primary" (click)="changeSearchInputPossible()">-->
      <!--<mat-icon>search</mat-icon>-->
    <!--</button>-->
    <!--&nbsp;-->
    <!--<button mat-mini-fab color="primary">-->
      <!--<mat-icon>person_add</mat-icon>-->
    <!--</button>-->
  <!--</mat-card-title>-->
  <!--<div *ngIf="searchInputPossible">-->
    <!--<app-search-input (onSearch)="searchPossible($event)"></app-search-input><br>-->
  <!--</div>-->
  <!--<mat-divider></mat-divider>-->
  <!--<br>-->
  <!--<app-candidate-dashboard [search]="searchValuePossible" *ngIf="candidates" [candidates]="candidates"-->
                           <!--[haveAddElement]="false"></app-candidate-dashboard>-->
<!--</mat-card>-->
