
<app-candidate-timeline-toolbar [timelineNotes]="timelineNotes" [candidate]="candidate" (changeTimeline)="changeTimeLine($event) "></app-candidate-timeline-toolbar>

<perfect-scrollbar style="max-height: 600px;">
<mat-card>
  <!--<br>-->
  <!--<perfect-scrollbar style="max-height: 600px;">-->
    <div *ngFor="let eventNote of timelineNotes; let i = index" class="example-item">
      <app-interview-candidate-timeline-item *ngIf="checkIfNoteIsInterview(eventNote)" [candidate]="candidate" [interview]="eventNote" (changeCandidate)="changeCandidate($event, i)" (deleteEvent)="deleteEvent(i)"></app-interview-candidate-timeline-item>
      <app-attachment-candidate-timeline-item *ngIf="checkIfNoteISCV(eventNote)" [attachment]="eventNote" [candidate]="candidate" (changeCandidate)="changeCandidate($event, i)" (deleteEvent)="deleteEvent(i)"></app-attachment-candidate-timeline-item>
      <app-image-candiate-timeline-item *ngIf="checkIfNoteISImg(eventNote)" [attachment]="eventNote" [candidate]="candidate" (changeCandidate)="changeCandidate($event, i)" (deleteEvent)="deleteEvent(i)"></app-image-candiate-timeline-item>
      <app-experience-candidate-timeline-item *ngIf="checkIfNoteIsExperience(eventNote)" [experience]="eventNote" [candidate]="candidate" (changeCandidate)="changeCandidate($event, i)" (deleteEvent)="deleteEvent(i)"></app-experience-candidate-timeline-item>
      <app-note-candidate-timeline-item *ngIf="checkIfNoteISNote(eventNote)" [note]="eventNote"  [candidate]="candidate" (changeCandidate)="changeCandidate($event, i)" (deleteEvent)="deleteEvent(i)"></app-note-candidate-timeline-item>
      <br>
    </div>

  <!--<div  *ngFor="let attachment of candidate.attachments">-->
    <!--<app-attachment-candidate-timeline-item [attachment]="attachment"></app-attachment-candidate-timeline-item>-->
    <!--<br>-->
  <!--</div>-->
  <!--<div  *ngFor="let experience of candidate.experiences">-->
    <!--<app-experience-candidate-timeline-item [experience]="experience"></app-experience-candidate-timeline-item>-->
    <!--<br>-->
  <!--</div>-->
  <!--<div>-->
    <!--<app-note-candidate-timeline-item></app-note-candidate-timeline-item>-->
  <!--</div>-->
</mat-card>

</perfect-scrollbar>
