<!--<form>-->
<mat-card>
  <mat-icon class="delete" matTooltip="Delete" (click)="delete()">close</mat-icon>
  <mat-card-title><mat-icon class="myIcon">description</mat-icon> Experience</mat-card-title>
  <mat-form-field class="example-full-width">
    <input (blur)="onFocusoutAnyInput()" [(ngModel)]="editedExperience.companyName.name" matInput placeholder="company Name">
  </mat-form-field>
  <mat-form-field>
    <input (blur)="onFocusoutAnyInput()" (dateChange)="onFocusoutAnyInput()" matInput [(ngModel)]="editedExperience.dateFrom" [matDatepicker]="picker" placeholder="From">
    <mat-datepicker-toggle name="dateSuffix" matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker  #picker></mat-datepicker>
  </mat-form-field>
  &nbsp;
  &nbsp;
  <!--<br>-->
  <mat-form-field >
    <input matInput (blur)="onFocusoutAnyInput()" [(ngModel)]="editedExperience.dateTo" [min]="editedExperience.dateFrom" [matDatepicker]="picker1" placeholder="To">
    <mat-datepicker-toggle name="dateSuffix1" matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker (dateChange)="onFocusoutAnyInput()" #picker1></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input (blur)="onFocusoutAnyInput()" [(ngModel)]="editedExperience.jobPosition" matInput placeholder="Position">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea  (blur)="onFocusoutAnyInput()" matInput placeholder="Comment" [(ngModel)]="editedExperience.comment"></textarea>
  </mat-form-field>
</mat-card>
<!--</form>-->
