
<form name="form" #vacancyForm="ngForm">
<app-modal-component>
  <dialog-title>
    <span>{{data.dialogWindowTitle + ' Vacancy'| translate}}</span>
    <button (click)="onNoClick()" class="float-right" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </dialog-title>
  <dialog-body>
      <mat-form-field *ngIf="editedVacancy" class="example-full-width">
        <input [(ngModel)]="editedVacancy.position" name="position" matInput placeholder="{{'Position' | translate}}" required>
      </mat-form-field>
      <mat-select placeholder="{{'Status' | translate}}" required [(ngModel)]="editedVacancy.vacancyState" name="state">
        <mat-option *ngFor="let state of statuses" [value]="state">
          {{state | translate}}
        </mat-option>
      </mat-select>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="{{'Description' | translate}}"></textarea>
      </mat-form-field>
      <div class="row font-weight-bold">
        <div class="col-6">
          <span>{{'Requirements' | translate}}</span>
        </div>
        <div class="col-2">
          <span>{{'Required' | translate}}</span>
        </div>
        <div class="col-2">
          <span>{{'Public' | translate}}</span>
        </div>
        <div class="col-2">
        </div>
      </div>
      <div cdkDropList (cdkDropListDropped)="drop($event)">
        <div cdkDrag class="row" *ngFor="let requirement of editedVacancy.requirements; let i = index">
          <div class="col-1 checkbox-col">
            <mat-icon>format_line_spacing</mat-icon>
          </div>
          <div class="col-5">
            <mat-form-field class="example-full-width">
              <input [name]="'requirements-' + i" matInput required placeholder="{{'Requirement' | translate}}" [matAutocomplete]="auto"
                     [(ngModel)]="requirement.name">
              <mat-autocomplete required #auto="matAutocomplete">
                <mat-option *ngFor="let state of searchWorker.search(requirement.name, testRequirements)"
                            [value]="state">
                  <span>{{state}}</span>
                  <!--<small>Population: {{state.population}}</small>-->
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="col-2 checkbox-col">
            <mat-checkbox color="primary" [name]="'requred' + i" [(ngModel)]="requirement.required"
                          class="example-margin" ></mat-checkbox>
          </div>
          <div class="col-2 checkbox-col">
            <mat-checkbox color="primary" [name]="'public' + i" [(ngModel)]="requirement.public"
                          class="example-margin"  ></mat-checkbox>
          </div>
          <div class="col-2 checkbox-col">
            <button (click)="removeElement(editedVacancy.requirements, requirement)" class="float-right"
                    mat-icon-button>
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <button color="primary"   mat-icon-button (click)="addRequirement()">
        <mat-icon aria-label="Example icon-button with a heart icon">add_circle_outline</mat-icon></button>
    <!--<div class="row">-->
    <!--<div class="col-12 center-item">-->
    <!--<button (click)="addRequirement()" mat-raised-button color="primary">Add Requirement</button>-->
    <!--</div>-->
    <!--</div>-->
  </dialog-body>
  <dialog-footer class="example-full-width">
    <span class="float-right">
    <button mat-button (click)="onNoClick()">{{'No Thanks' | translate}}</button>
    <button mat-button [disabled]="vacancyForm.form.invalid" mat-raised-button color="primary" (click)="save()">{{data.dialogWindowTitle | translate}}
    </button>
    </span>
  </dialog-footer>
</app-modal-component>
</form>
