<mat-label style="color: gray;">{{viewOfDate}} {{'at' | translate}} {{viewOfTime}}</mat-label>
<mat-card  (mouseenter)="visibleCheckbox = true" (mouseleave)="visibleCheckbox = false" class="backgroundCard">
  <mat-card-title><mat-icon class="myIcon">event</mat-icon>
    <a [routerLink]="'/interview/'+interview.id"> {{'Interview' | translate}}</a>
    &nbsp;
    <span *ngIf="editedInterview.completed">({{'completed' | translate}})</span>
    <!--<mat-checkbox [(ngModel)]="editedInterview.completed" (mouseenter)="visibleCheckbox = true" (mouseleave)="visibleCheckbox = false" color="primary" class="checkbox-with-hover">-->
      <!--<span *ngIf="visibleCheckbox">{{'completed' | translate}}</span>-->
      <!--<span *ngIf="!visibleCheckbox">-->
        <!--<span *ngIf="editedInterview.completed">{{'completed' | translate}}</span>-->
        <!--<span *ngIf="!editedInterview.completed">{{'not completed' | translate}}</span>-->
      <!--</span>-->
    <!--</mat-checkbox>-->
    <span class="float-right">
  <mat-checkbox matTooltip="{{'Interview can be completed only in past' | translate}}" [disabled]="!isCanCompleted" *ngIf="visibleCheckbox"  [(ngModel)]="editedInterview.completed" (ngModelChange)="onFocusoutAnyInput()" color="primary">
    <!--{{'completed' | translate}}-->
  </mat-checkbox>&nbsp;
      &nbsp;
      &nbsp;
    <mat-icon *ngIf="visibleCheckbox"  matTooltip="{{'Change' | translate}}" (click)="change()">create</mat-icon>
    <mat-icon *ngIf="visibleCheckbox"  matTooltip="{{'Delete' | translate}}" (click)="delete()">delete</mat-icon>
    </span>

  </mat-card-title>

  <span class="font-weight-bold">{{'Vacancy' | translate}}: </span>
  <a [routerLink]="'/job-description/'+interview.vacancy.id">{{interview.vacancy.position.name}}</a>
  <br>
  <span class="font-weight-bold">{{'Interviewers' | translate}}: </span>
  <a *ngFor="let interviewer of interview.interviewers; let i = index">
    <img class="select-img"  [src]="candidateWorker.generatePhotoUrl(interviewer.attachment)"
         onerror="this.src = '/assets/candidate/middle-man-interviewer.png'">
    <span> {{userWorker.formatFullName(interviewer)}}</span>
    <span *ngIf="interview.interviewers.length - 1 != i ">, </span>
  </a>
  <br>
  <br>
  <div class="row">
    <div class="col-4">
      <div class="gray-item material-placeholder-text small-text">{{'Plan Date' | translate}}</div>
      <div>{{interviewString.date}}</div>
    </div>
    <div class="col-4">
      <div class="gray-item material-placeholder-text small-text">{{'Start time' | translate}}</div>
      <div>{{interviewString.startTime}}</div>
    </div>
    <div class="col-4">
      <div class="gray-item material-placeholder-text small-text">{{'End time' | translate}}</div>
      <div>{{interviewString.endTime}}</div>
    </div>
  </div>

  <!--<mat-form-field class="custom-form-field">-->
    <!--<input readonly required (dateChange)="onFocusoutAnyInput()" matInput [min]="minDate" [(ngModel)]="planDate.dateDate" [matDatepicker]="picker1" placeholder="{{'Plan Date' | translate}}" (click)="picker1.open()">-->
    <!--<mat-datepicker-toggle name="dateSuffix1" matSuffix [for]="picker1"></mat-datepicker-toggle>-->
    <!--<mat-datepicker [disabled]="editedInterview.completed" #picker1></mat-datepicker>-->
  <!--</mat-form-field>-->
    <!--<app-custom-timepicker [readonly]="editedInterview.completed" required placeholder="Start time" [min]="minTime || dateTimeWorker.config.minTime" [max]="planDate.endTimeString || dateTimeWorker.config.maxTime" [(ngModel)]="planDate.time" (ngModelChange)="onFocusoutAnyInput()" [hideUnderline]="true"></app-custom-timepicker>-->
  &nbsp;
    <!--<app-custom-timepicker [readonly]="editedInterview.completed" required placeholder="End time" [min]="minTime || planDate.timeString || dateTimeWorker.config.minTime" [max]="dateTimeWorker.config.maxTime" [(ngModel)]="planDate.endTime" (ngModelChange)="onFocusoutAnyInput()" [hideUnderline]="true"></app-custom-timepicker>-->

  <br>
  <!--<mat-form-field class="custom-form-field">-->
    <!--<input (blur)="onFocusoutAnyInput()" (dateChange)="onFocusoutAnyInput()" matInput [(ngModel)]="editedInterview.factDate" [matDatepicker]="picker2" placeholder="{{'Fact Date' | translate}}">-->
    <!--<mat-datepicker-toggle name="dateSuffix1" matSuffix [for]="picker2"></mat-datepicker-toggle>-->
    <!--<mat-datepicker #picker2></mat-datepicker>-->
  <!--</mat-form-field>-->
</mat-card>
