<mat-label style="color: gray;">{{viewOfDate}} {{'at' | translate}} {{viewOfTime}}</mat-label>
<mat-card  (mouseenter)="visibleCheckbox = true" (mouseleave)="visibleCheckbox = false" class="backgroundCard">
  <mat-card-title><mat-icon class="myIcon">event</mat-icon>
    <a [routerLink]="'/interview/'+interview.id"> {{'Interview' | translate}}</a>
    &nbsp;
    <span *ngIf="editedInterview.completed">({{'completed' | translate}})</span>
    <!--<mat-checkbox [(ngModel)]="editedInterview.completed" (mouseenter)="visibleCheckbox = true" (mouseleave)="visibleCheckbox = false" color="primary" class="checkbox-with-hover">-->
      <!--<span *ngIf="visibleCheckbox">{{'completed' | translate}}</span>-->
      <!--<span *ngIf="!visibleCheckbox">-->
        <!--<span *ngIf="editedInterview.completed">{{'completed' | translate}}</span>-->
        <!--<span *ngIf="!editedInterview.completed">{{'not completed' | translate}}</span>-->
      <!--</span>-->
    <!--</mat-checkbox>-->
    <span class="float-right">
  <mat-checkbox matTooltip="{{'completed' | translate}}" *ngIf="visibleCheckbox" (ngModelChange)="onFocusoutAnyInput()" [(ngModel)]="editedInterview.completed" color="primary">
    <!--{{'completed' | translate}}-->
  </mat-checkbox>&nbsp;
      &nbsp;
      &nbsp;
    <mat-icon *ngIf="visibleCheckbox"  matTooltip="{{'Delete' | translate}}" (click)="delete()">delete</mat-icon>
    </span>

  </mat-card-title>
  <mat-form-field class="custom-form-field">
    <input readonly required (dateChange)="onFocusoutAnyInput()" matInput [(ngModel)]="planDate.dateDate" [matDatepicker]="picker1" placeholder="{{'Plan Date' | translate}}" (click)="picker1.open()">
    <mat-datepicker-toggle name="dateSuffix1" matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker [disabled]="editedInterview.completed" #picker1></mat-datepicker>
  </mat-form-field>
    <app-custom-timepicker [readonly]="editedInterview.completed" required placeholder="Start time" [min]="dateTimeWorker.config.minTime" [max]="planDate.endTimeString || dateTimeWorker.config.maxTime" [(ngModel)]="planDate.time" (ngModelChange)="onFocusoutAnyInput()" [hideUnderline]="true"></app-custom-timepicker>
  &nbsp;
    <app-custom-timepicker [readonly]="editedInterview.completed" required placeholder="End time" [min]="planDate.timeString || dateTimeWorker.config.minTime" [max]="dateTimeWorker.config.maxTime" [(ngModel)]="planDate.endTime" (ngModelChange)="onFocusoutAnyInput()" [hideUnderline]="true"></app-custom-timepicker>

  <br>
  <!--<mat-form-field class="custom-form-field">-->
    <!--<input (blur)="onFocusoutAnyInput()" (dateChange)="onFocusoutAnyInput()" matInput [(ngModel)]="editedInterview.factDate" [matDatepicker]="picker2" placeholder="{{'Fact Date' | translate}}">-->
    <!--<mat-datepicker-toggle name="dateSuffix1" matSuffix [for]="picker2"></mat-datepicker-toggle>-->
    <!--<mat-datepicker #picker2></mat-datepicker>-->
  <!--</mat-form-field>-->
</mat-card>
